{{> header}}
{{> nav}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>404</h1>
            <p>That's not a page, meme.</p>
        </div>
    </div>
</div>
{{> footer}}
