{{> header}}
{{> nav}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Config</h1>

            <p>{{msg}}</p>

            <a class="waves-effect waves-light btn-large green" href="{{BASEURI}}about"><i class="material-icons left">system_update</i>
                Back to About</a>
        </div>
    </div>
</div>
{{> foot}}
{{> footer}}
