{{> header}}
{{> nav}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Driver Scouting</h1>

            <div class="row">
                <form class="col s12" action="{{BASEURI}}post/driver" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Match" id="matchNumber" name="matchNumber" type="number"
                                   class="validate" value="{{matchNumber}}" min="0" required>
                            <label for="matchNumber">Match Number</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Team" id="teamNumber" name="teamNumber" type="number" class="validate"
                                   value="{{teamNumber}}" min="0" required>
                            <label for="teamNumber">Team Number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <input class="with-gap" name="performance" type="radio" id="prefC"
                                       value="c" {{#prefC}}checked{{/prefC}}>
                                <label for="prefC">Confused</label>
                            </p>
                            <p>
                                <input class="with-gap" name="performance" type="radio" id="prefS" value="s"
                                       {{#prefS}}checked{{/prefS}}>
                                <label for="prefS">Slow</label>
                            </p>
                            <p>
                                <input class="with-gap" name="performance" type="radio" id="prefE"
                                       value="e" {{#prefE}}checked{{/prefE}}>
                                <label for="prefE">Efficient</label>
                            </p>
                            <p>
                                <input class="with-gap" name="performance" type="radio" id="prefP"
                                       value="p" {{#prefP}}checked{{/prefP}}>
                                <label for="prefP">Powerhouse</label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10 offset-s1">
                            <button type="submit" class="btn btn-block waves-effect waves-light green"><i
                                    class="material-icons left">done</i> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{> foot}}
{{> footer}}
