{{> header}}
{{> nav}}
<style>
    .input-field label {
        font-size: 1em !important;
    }

    h3 {
        padding-bottom: 18px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Match Scouting</h1>

            <div class="row">
                <form class="col s12" action="{{BASEURI}}post/match" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Match" id="matchNumber" name="matchNumber" type="number"
                                   class="validate"
                                   value="{{matchNumber}}" min="0" required>
                            <label for="matchNumber" class="white-text">Match Number</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Team" id="teamNumber" name="teamNumber" type="number" class="validate"
                                   value="{{teamNumber}}" min="0" required>
                            <label for="teamNumber" class="white-text">Team Number</label>
                        </div>
                    </div>
                    <h3>Autonomous</h3>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="autoRun" name="autoRun" type="checkbox" value="true"
                                   {{#autoRun}}checked{{/autoRun}}>
                            <label for="autoRun" class="white-text">Auto Run</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="autoSwitch" name="autoSwitch" type="checkbox" value="true"
                                   {{#autoSwitch}}checked{{/autoSwitch}}>
                            <label for="autoSwitch" class="white-text">Delivered to Switch</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="autoScale" name="autoScale" type="checkbox" value="true"
                                   {{#autoScale}}checked{{/autoScale}}>
                            <label for="autoScale" class="white-text">Delivered to Scale</label>
                        </div>
                    </div>
                    <h3>Tele-Operated</h3>
                    <div class="row">
                        <div class="col s6">
                            <button class="btn-floating" type="button" onclick="decVal('teleAllySwitch')">
                                <i class="material-icons right">remove</i>
                            </button>
                            <div class="input-field inline">
                                <input placeholder="0" id="teleAllySwitch" name="teleAllySwitch" type="number"
                                       class="validate" value="{{teleAllySwitch}}" min="0" required>
                                <label for="teleAllySwitch" class="white-text">
                                    Cubes delivered to alliance switch
                                </label>
                            </div>
                            <button class="btn-floating" type="button" onclick="incVal('teleAllySwitch')">
                                <i class="material-icons right">add</i>
                            </button>
                        </div>
                        <div class="col s6">
                            <button class="btn-floating" type="button" onclick="decVal('teleScale')">
                                <i class="material-icons right">remove</i>
                            </button>
                            <div class="input-field inline">
                                <input placeholder="0" id="teleScale" name="teleScale" type="number" class="validate"
                                       value="{{teleScale}}" min="0" required>
                                <label for="teleScale" class="white-text">Cubes delivered to scale</label>
                            </div>
                            <button class="btn-floating" type="button" onclick="incVal('teleScale')">
                                <i class="material-icons right">add</i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <button class="btn-floating" type="button" onclick="decVal('teleOppSwitch')">
                                <i class="material-icons right">remove</i>
                            </button>
                            <div class="input-field inline">
                                <input placeholder="0" id="teleOppSwitch" name="teleOppSwitch" type="number"
                                       class="validate" value="{{teleOppSwitch}}" min="0" required>
                                <label for="teleOppSwitch" class="white-text">
                                    Cubes delivered to opposition switch</label>
                            </div>
                            <button class="btn-floating" type="button" onclick="incVal('teleOppSwitch')">
                                <i class="material-icons right">add</i>
                            </button>
                        </div>
                        <div class="col s6">
                            <button class="btn-floating" type="button" onclick="decVal('teleVault')">
                                <i class="material-icons right">remove</i>
                            </button>
                            <div class="input-field inline">
                                <input placeholder="0" id="teleVault" name="teleVault" type="number" class="validate"
                                       value="{{teleVault}}" min="0" required>
                                <label for="teleVault" class="white-text">Cubes delivered to vault</label>
                            </div>
                            <button class="btn-floating" type="button" onclick="incVal('teleVault')">
                                <i class="material-icons right">add</i>
                            </button>
                        </div>
                    </div>
                    <h3>End Game</h3>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="endClimb" name="endClimb" type="checkbox" value="true"
                                   {{#endClimb}}checked{{/endClimb}}>
                            <label for="endClimb" class="white-text">Climb</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="endPark" name="endPark" type="checkbox" value="true"
                                   {{#endPark}}checked{{/endPark}}>
                            <label for="endPark" class="white-text">Park</label>
                        </div>
                    </div>
                    <h3>Tags</h3>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="tagNoShow" name="tagNoShow" type="checkbox" value="true"
                                   {{#tagNoShow}}checked{{/tagNoShow}}>
                            <label for="tagNoShow" class="white-text">No Show</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="tagNoMove" name="tagNoMove" type="checkbox" value="true"
                                   {{#tagNoMove}}checked{{/tagNoMove}}>
                            <label for="tagNoMove" class="white-text">Didn't Move/Stopped</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="tagFlipped" name="tagFlipped" type="checkbox" value="true"
                                   {{#tagFlipped}}checked{{/tagFlipped}}>
                            <label for="tagFlipped" class="white-text">Flipped</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="tagStuck" name="tagStuck" type="checkbox" value="true"
                                   {{#tagStuck}}checked{{/tagStuck}}>
                            <label for="tagStuck" class="white-text">Stuck</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="tagFell" name="tagFell" type="checkbox" value="true"
                                   {{#tagFell}}checked{{/tagFell}}>
                            <label for="tagFell" class="white-text">Fell</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="tagPenalized" name="tagPenalized" type="checkbox" value="true"
                                   {{#tagPenalized}}checked{{/tagPenalized}}>
                            <label for="tagPenalized" class="white-text">Penalized</label>
                        </div>
                    </div>
                    <h3>Overall Performance</h3>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <input class="with-gap" name="performance" type="radio" id="prefC"
                                       value="c" {{#prefC}}checked{{/prefC}} required>
                                <label for="prefC" class="white-text">Confused</label>
                            </p>
                            <p>
                                <input class="with-gap" name="performance" type="radio" id="prefS" value="s"
                                       {{#prefS}}checked{{/prefS}} required>
                                <label for="prefS" class="white-text">Slow</label>
                            </p>
                            <p>
                                <input class="with-gap" name="performance" type="radio" id="prefE"
                                       value="e" {{#prefE}}checked{{/prefE}} required>
                                <label for="prefE" class="white-text">Efficient</label>
                            </p>
                            <p>
                                <input class="with-gap" name="performance" type="radio" id="prefP"
                                       value="p" {{#prefP}}checked{{/prefP}} required>
                                <label for="prefP" class="white-text">Powerhouse</label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10 offset-s1">
                            <button type="submit" class="btn btn-block waves-effect waves-light green"><i
                                    class="material-icons left">done</i> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function incVal(element) {
        document.getElementById(element).value++;
    }

    function decVal(element) {
        document.getElementById(element).value--;
    }

</script>
{{> foot}}
{{> footer}}
