{{> header}}
{{> nav}}
<style>
    .input-field label {
        font-size: 1em !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Pit Scouting</h1>

            <div class="row">
                <form class="col s12" action="{{BASEURI}}post/pit" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Team" id="teamNumber" name="teamNumber" type="number" class="validate"
                                   value="{{teamNumber}}" min="0" required>
                            <label for="teamNumber" class="white-text">Team Number</label>
                        </div>
                    </div>
                    <h3>Autonomous</h3>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="autoInitLine" name="autoInitLine" type="checkbox"
                                   {{#autoInitLine}}checked{{/autoInitLine}}>
                            <label for="autoInitLine" class="white-text">Initiation Line</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="autoUpper" name="autoUpper" type="checkbox"
                                   {{#autoUpper}}checked{{/autoUpper}}>
                            <label for="autoUpper" class="white-text">Upper</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="autoLower" name="autoLower" type="checkbox"
                                   {{#autoLower}}checked{{/autoLower}}>
                            <label for="autoLower" class="white-text">Lower</label>
                        </div>
                    </div>
                    <h3>Tele-Operated</h3>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="teleUpper" name="teleUpper" type="checkbox"
                                   {{#teleUpper}}checked{{/teleUpper}}>
                            <label for="teleUpper" class="white-text">Upper</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="teleLower" name="teleLower" type="checkbox"
                                   {{#teleLower}}checked{{/teleLower}}>
                            <label for="teleLower" class="white-text">Lower</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="teleRotational" name="teleRotational" type="checkbox"
                                   {{#teleRotational}}checked{{/teleRotational}}>
                            <label for="teleRotational" class="white-text">Rotational control</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="telePositional" name="telePositional" type="checkbox"
                                   {{#telePositional}}checked{{/telePositional}}>
                            <label for="telePositional" class="white-text">Positional control</label>
                        </div>
                    </div>
                    <h3>End Game</h3>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="endP" name="endP" type="checkbox" {{#endP}}checked{{/endP}}>
                            <label for="endP" class="white-text">Park</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="endH" name="endH" type="checkbox" {{#endH}}checked{{/endH}}>
                            <label for="endH" class="white-text">Hang</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="robotCamera" name="robotCamera" type="checkbox"
                                   {{#robotCamera}}checked{{/robotCamera}}>
                            <label for="robotCamera" class="white-text">Camera</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="robotVision" name="robotVision" type="checkbox"
                                   {{#robotVision}}checked{{/robotVision}}>
                            <label for="robotVision" class="white-text">Vision</label>
                        </div>
                    </div>
                    <h3>Drive Train</h3>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <input class="with-gap" name="driveTrain" type="radio" id="driveTrain4" value="4"
                                       {{#driveTrain4}}checked{{/driveTrain4}}>
                                <label for="driveTrain4" class="white-text">4 wheel drive</label>
                            </p>
                            <p>
                                <input class="with-gap" name="driveTrain" type="radio" id="driveTrain6" value="6"
                                       {{#driveTrain6}}checked{{/driveTrain6}}>
                                <label for="driveTrain6" class="white-text">6 wheel drive</label>
                            </p>
                            <p>
                                <input class="with-gap" name="driveTrain" type="radio" id="driveTrainT" value="t"
                                       {{#driveTrainT}}checked{{/driveTrainT}}>
                                <label for="driveTrainT" class="white-text">Tank drive</label>
                            </p>
                            <p>
                                <input class="with-gap" name="driveTrain" type="radio" id="driveTrainM" value="m"
                                       {{#driveTrainM}}checked{{/driveTrainM}}>
                                <label for="driveTrainM" class="white-text">Mecanum drive</label>
                            </p>
                            <p>
                                <input class="with-gap" name="driveTrain" type="radio" id="driveTrainS" value="s"
                                       {{#driveTrainS}}checked{{/driveTrainS}}>
                                <label for="driveTrainS" class="white-text">Swerve drive</label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="fromFloor" name="fromFloor" type="checkbox" {{#fromFloor}}checked{{/fromFloor}}>
                            <label for="fromFloor" class="white-text">Power cell from floor</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="fromFeeder" name="fromFeeder" type="checkbox" {{#fromFeeder}}checked{{/fromFeeder}}>
                            <label for="fromFeeder" class="white-text">Power cell from feeder</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div>
                                <button class="btn-floating" type="button" onclick="decVal('maxCells')">
                                    <i class="material-icons right">remove</i>
                                </button>
                                <div class="input-field inline">
                                    <input placeholder="0" id="maxCells" name="maxCells" type="number"
                                           class="validate" value="{{maxCells}}" min="0" max="5" style="width: 100px" required>
                                    <label for="maxCells" class="white-text">Max Cells</label>
                                </div>
                                <button class="btn-floating" type="button" onclick="incVal('maxCells')">
                                    <i class="material-icons right">add</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <h3>Climb</h3>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <input class="with-gap" name="climb" type="radio" id="climbM" value="m"
                                       {{#climbM}}checked{{/climbM}}>
                                <label for="climbM" class="white-text">Middle</label>
                            </p>
                            <p>
                                <input class="with-gap" name="climb" type="radio" id="climbE" value="e"
                                       {{#climbE}}checked{{/climbE}}>
                                <label for="climbE" class="white-text">Edge</label>
                            </p>
                            <p>
                                <input class="with-gap" name="climb" type="radio" id="climbB" value="b"
                                       {{#climbB}}checked{{/climbB}}>
                                <label for="climbB" class="white-text">Both</label>
                            </p>
                        </div>
                    </div>
                    <h3>Main Role</h3>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <input class="with-gap" name="mainRole" type="radio" id="mainRoleU" value="l"
                                       {{#mainRoleU}}checked{{/mainRoleU}}>
                                <label for="mainRoleU" class="white-text">Upper</label>
                            </p>
                            <p>
                                <input class="with-gap" name="mainRole" type="radio" id="mainRoleL" value="u"
                                       {{#mainRoleL}}checked{{/mainRoleL}}>
                                <label for="mainRoleL" class="white-text">Lower</label>
                            </p>
                            <p>
                                <input class="with-gap" name="mainRole" type="radio" id="mainRoleC" value="c"
                                       {{#mainRoleC}}checked{{/mainRoleC}}>
                                <label for="mainRoleC" class="white-text">Control Panel</label>
                            </p>
                            <p>
                                <input class="with-gap" name="mainRole" type="radio" id="mainRoleF" value="f"
                                       {{#mainRoleF}}checked{{/mainRoleF}}>
                                <label for="mainRoleF" class="white-text">"Flex"</label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10 offset-s1">
                            <button type="submit" class="btn btn-block waves-effect waves-light green"><i
                                    class="material-icons left">done</i> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function incVal(element) {
        if (document.getElementById(element).value < document.getElementById(element).getAttribute('max')) {
            document.getElementById(element).value++;
        }
    }

    function decVal(element) {
        if (document.getElementById(element).value > document.getElementById(element).getAttribute('min')) {
            document.getElementById(element).value--;
        }
    }
</script>
{{> foot}}
{{> footer}}
