{{> header}}
{{> nav}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Pit List</h1>

            <a class="waves-effect waves-light btn-large green" href="{{BASEURI}}pit/current"><i class="material-icons left">skip_next</i> Jump to Current Form</a>
            <a class="btn-floating btn-large waves-effect waves-light green right" href="{{BASEURI}}pit/blank"><i class="material-icons">add</i></a>

            <ul class="collection with-header yellow accent-3 black-text">
                <li class="collection-item yellow accent-3 black-text">
                    <div>Pit Submission
                        <div class="secondary-content">Team</div>
                    </div>
                </li>
                {{#pits}}
                    <li class="collection-item {{#current}}green lighten-3{{/current}}{{^current}}yellow accent-3 black-text{{/current}}"><a href="{{BASEURI}}pit/{{team}}">
                        <div>Pit Data
                            <div class="secondary-content">{{team}}</div>
                        </div>
                    </a></li>
                {{/pits}}
            </ul>
        </div>
    </div>
</div>
{{> foot}}
{{> footer}}
