{{> header}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Pit List</h1>

            <ul class="collection with-header">
                <li class="collection-item">
                    <div>Pit Submission
                        <div class="secondary-content">Team</div>
                    </div>
                </li>
                {{#pits}}
                    <li class="collection-item"><a href="{{BASEURI}}pit/{{team}}">
                        <div>Pit Data
                            <div class="secondary-content">{{team}}</div>
                        </div>
                    </a></li>
                {{/pits}}
            </ul>
        </div>
    </div>
</div>
{{> footer}}
