{{> header}}
{{> nav}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Transfer</h1>
            <a class="waves-effect waves-light btn-large green" href="{{BASEURI}}transfer/display"><i
                    class="material-icons left">swap_vert</i> Begin Transfer</a>
        </div>
    </div>
</div>
{{> foot}}
{{> footer}}
