<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Made by CougarTech Robotics (Team 2228). Running Extractor Client v{{VERSION}}.
        </div>
    </div>
</footer>
