<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
            Made by CougarTech Robotics (Team 2228). Running Extractor Client v{{VERSION}}.
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="{{BASEURI}}assets/other/js/jquery-3.1.1.min.js"></script>
<script src="{{BASEURI}}assets/materialize/js/materialize.js"></script>
<script src="{{BASEURI}}assets/materialize/js/init.js"></script>

</body>
</html>
