<!--  Scripts-->
<script src="{{BASEURI}}assets/other/js/jquery-3.1.1.min.js"></script>
<script src="{{BASEURI}}assets/materialize/js/materialize.min.js"></script>
<script src="{{BASEURI}}assets/other/js/init.js"></script>

</body>
</html>
