<footer class="page-footer yellow accent-3">
    <div class="footer-copyright black-text">
        <div class="container">
            Made by CougarTech Robotics (Team 2228). Running Extractor Client v{{VERSION}}.
        </div>
    </div>
</footer>
