<nav class="yellow accent-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{BASEURI}}" class="brand-logo black-text">&Sigma;xtractor</a>
        <ul class="right hide-on-med-and-down">
            {{#navlinks}}
                <li {{#active}}class="active"{{/active}}><a href="{{BASEURI}}{{link}}" class="black-text"><i
                        class="material-icons left">{{icon}}</i> {{name}}</a></li>
            {{/navlinks}}
        </ul>

        <ul id="nav-mobile" class="side-nav yellow accent-3">
            {{#navlinks}}
                <li {{#active}}class="active"{{/active}}><a href="{{BASEURI}}{{link}}" class="black-text"><i
                        class="material-icons left">{{icon}}</i> {{name}}</a></li>
            {{/navlinks}}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse black-text"><i
                class="material-icons">menu</i></a>
    </div>
</nav>
